.list {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 30px;
  .BalanceWidget {
    background: #9b42c5;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 20px;
    background:linear-gradient(50deg, #9b42c5 0%, #5e1382 100%);
    span {
      color: #fff;
    }
    :first-child {
      font-size: 14px;
    }
    :last-child {
      font-size: 20px;
      margin: 5px;
    }
  }
}
