.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  background: rgb(87, 54, 158);
  background: linear-gradient(
    50deg,
    rgba(87, 54, 158, 1) 0%,
    rgba(113, 77, 189, 1) 100%
  );
  .CoinWidget {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 50px;
        margin: 10px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
  }
}
